


<div class="container py-5 detail-page-animation" *ngIf="selectedBook">
  <div class="row vintage-detail-card shadow-lg rounded-4 overflow-hidden border-0">
    
    <div class="col-md-5 d-flex align-items-center justify-content-center p-5 img-container">
      <img [src]="selectedBook.thumbnail" class="img-fluid rounded shadow-lg book-img" [alt]="selectedBook.title">
    </div>

    <div class="col-md-7 p-5 text-content">
      <h1 class="display-4 fw-bold mb-2 title-gold">{{ selectedBook.title }}</h1>
      <p class="h4 italic mb-4 author-name">By {{ selectedBook.author }}</p>
      
      <div class="mb-4">
        <span class="badge category-badge">Category: {{ selectedBook.category }}</span>
        <span class="ms-3 rating-gold">{{ selectedBook.rating }} ★</span>
      </div>

      <hr class="divider">
      <p class="description-text">{{ selectedBook.description }}</p>

      <div class="d-flex align-items-center gap-3 mb-5 mt-4">
        <span class="price-big">
          {{ selectedBook.price | discount: selectedBook.discountPercentage }} EGP
        </span>
        @if (selectedBook.discountPercentage > 0) {
          <span class="old-price-text text-decoration-line-through">
            {{ selectedBook.price }} EGP
          </span>
          <span class="badge-discount-red">-{{ selectedBook.discountPercentage }}%</span>
        }
      </div>

      <button class="btn btn-add-vintage" (click)="addToCart()">
        <i class="bi bi-cart-plus me-2"></i> Add to Cart
      </button>
    </div>
  </div>
</div>