
<div class="book-card-dark" *ngIf="book">
  <div class="card-image-wrapper">
    <img [src]="book.thumbnail" class="card-img" [alt]="book.title">
    
    <div class="image-hover-overlay">
      <a [routerLink]="['/product', book.id]" class="btn-quick-view">
        <i class="bi bi-eye"></i> View Details
      </a>
    </div>
  </div>
  
  <div class="card-content">
    <h5 class="card-title">{{book.title}}</h5>
    <p class="card-author">By {{book.author}}</p>
    <p class="text-white-50 small">Stock: {{book.stock}}</p>
    
    <div class="price-section">
      <span class="current-price">{{ book.price | discount: book.discountPercentage }} EGP</span>
    </div>
    
    <div class="button-group mt-3">
      <button class="btn-action main-btn" (click)="onAddToCart()">
        Add to Cart
      </button>
    </div>
  </div>
</div>